@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/b2.jpg" alt="ASP.NET" class="img-responsive"/>
            <div class="carousel-caption" role="option">
                <p>
                    Movie Store app. Changing the default!
                    <a class="btn btn-default" href="https://www.youtube.com/watch?v=CJCtFekNpi8">
                        View Indian's
                    </a>
                </p>
            </div>
        </div>
       
</div>


